[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
matplotlib = "*"
torchvision = "*"
tqdm = "*"
bindsnet = "*"

[dev-packages]

[requires]
python_version = "3.7"
